.header__hamburger-menu {
    width: 24px;
    height: 24px;
    background-image: url("/Assets/Imgs/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contain {
    display: flex;
    align-items: center;
}

.image__contain {
    padding: 1rem;
}